#include "version.h"
#include "resources.h"
#include <windows.h>

#define VER_COMPANYNAME_STR         "t-tani"
#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEOS                  VOS_NT_WINDOWS32
#define VER_FILEDESCRIPTION_STR     "Yama: Yet Another Memory Analyzer for malware detection"
#define VER_INTERNALNAME_STR        "Yama.exe"
#define VER_ORIGINALFILENAME_STR    "Yama.exe"
#define VER_LEGALCOPYRIGHT_STR      "Copyright 2023 t-tani"
#define VER_PRODUCTNAME_STR         "Yama"
#define VER_FILEVERSION             YAMA_MAJOR_VERSION,YAMA_MINOR_VERSION,YAMA_MICRO_VERSION,YAMA_PATCH_VERSION
#define VER_PRODUCTVERSION_STR      YAMA_VERSION_STR

#define VER_FILEFLAGSMASK (VS_FF_DEBUG | VS_FF_PRERELEASE)
#ifdef DEBUG
    #define VER_FILEFLAGS (VS_FF_DEBUG)
#else
    #define VER_FILEFLAGS (0)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "logo/favicon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// FILE
//

IDR_FILE1               FILE                    "eventlog/Yama.Events.dll"
IDR_FILE2               FILE                    "eventlog/Yama.Events.man"
IDR_FILE3               FILE                    "ioc/rule.yara.enc"

#include "common.ver"
